<p>user-list works!</p>

<!-- table -->
<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2>User List</h2>
      <!-- create new user -->
      <div class="">
        <button [routerLink]="['user/' + 0]" class="btn btn-primary btn-block my-3">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr> <!-- table -->
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody> <!-- table                      -->
          <tr *ngFor="let user of userList$ | async">
                <!-- table -->
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td>{{user.active}}</td>
            <!-- editor button  -->
            <td>
              <div class="btn-group">
                <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                  <i class="fa fa-pencil"></i>
                </button>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
